{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Nueva orden
{% endblock %}


{% block content %}

    <div style="margin: 5rem;">
        <div class="row">
            <div class="col-md-8">
                <form method="post" class="order-form">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.billing_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.billing_dni|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            {{ form.billing_email|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            {{ form.billing_phone|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.shipping_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.shipping_address|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            {{ form.shipping_phone|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            {{ form.payment_mode|as_crispy_field }}
                        </div>
                    </div>


                    <input name="pay" class="btn btn-primary" type="submit" value="Pagar">
                    <a href="{% url 'carts:cart_detail' %}" class="btn btn-secondary">Regresar</a>

                </form>
            </div>
            <div class="col-md-4">
                <h4>Su orden es</h4>
                <ul class="py-3">
                    {% for item in items %}
                        <li>
                            {{ item.quantity }} x {{ item.product.name }}
                            <span>${{ item.subtotal|floatformat:2 }}</span>
                        </li>
                    {% endfor %}
                    {% if cart.coupon %}
                        <li>
                            {{ cart.coupon.code }} descuento del {{ cart.coupon.discount }}%
                            <span class="neg">-${{ cart.get_discount|floatformat:2 }}</span>
                        </li>
                    {% endif %}
                </ul>

                {% if cart.coupon %}
                    <p>Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
                {% else %}
                    <p>Total: ${{ cart.get_total_subtotal|floatformat:2 }}</p>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
	